/*************************************************************************************
	CSS tag styling
**************************************************************************************/
html {

	height: 100%;
}
body {
	background: #e6e9f0;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
	margin: auto;
	padding: 3em;
	width: 70%;
	height: 100%;
}
p, li, select, option, form {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
	font-size: 1.0em;
	line-height: 1.2em;
	color: #2c2a2a;
}
p {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
h1, h2, h3 { 
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	color: #2c2a2a;
	margin-bottom: 0.5em;
}
h1 { 
	font-size: 1.5em;
	text-align: center;
}

h2 { 
	font-size: 1.2em;
	text-align: center;
}
h3 {
	margin-top: 15px;
	font-size: 1.0em;
	text-decoration: underline;
	text-align: center;
}
sub, sup {
	font-size: 0.6em;
}
::selection {
	background-color: #7c52df;
	color: #ffffff;
}
input {
	width: 50px;
}
ul li {
	list-style: disc;
	margin-left: 20px;
}

/*************************************************************************************
	CSS id and class styling
**************************************************************************************/

#input-div {
	/* display: inline-block; */
	display: flex;
	justify-content: center;
	width: 300px;

	text-align: right;
}

#subButton {
	color: rgb(255, 255, 255);
	background: rgb(115, 154, 238);
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 3px;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 1.0em;
	border: none;
	text-align: center;
	border-radius: 4px;
	width: 100px;
}

#subButton:hover  {
  background-color: rgb(43, 87, 182);
}

.container {
	display: inline-block;
}

.parameters {
	display: inline;
	padding-right: 40px;
}

#notes {
	font-size: 0.8em;
}

#numBars10, #as10, #mr10, #numBars15, #as15, #mr15, 
#numBars20, #as20, #mr20, #numBars25, #as25, #mr25, 
#numBars30, #as30, #mr30 {
	color:	blue;
}

