/*************************************************************************************
	CSS tag styling
**************************************************************************************/
html {
	height: 100%;
}
body {
	background: #e6e9f0;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
	margin: auto;
	padding: 3em;
	height: 100%;
}
p, li, select, option, form {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
	font-size: 1.0em;
	line-height: 1.2em;
	color: #2c2a2a;
}
p {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
h1, h2, h3 { 
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	color: #2c2a2a;
	margin-bottom: 0.5em;
}
h1 { 
	font-size: 1.5em;
	text-align: center;
}

h2 { 
	font-size: 1.2em;
	text-align: center;
}
h3 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.0em;
	text-decoration: underline;
	text-align: center;
}
sub, sup {
	font-size: 0.6em;
}
::selection {
	background-color: #7c52df;
	color: #ffffff;
}
input {
	width: 4em;
}
ul li {
	list-style: disc;
	margin-left: 1.2em;
}

/*************************************************************************************
	CSS id and class styling
**************************************************************************************/

.flex-container {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

.container {
	display: inline-block;
}

.parameters {
	display: inline;
	padding-right: 2.5em;
}

#input-div {
	display: flex;
	justify-content: center;
	width: 20em;
	text-align: right;
}

#subButton {
	color: rgb(255, 255, 255);
	background: rgb(115, 154, 238);
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	margin-bottom: 1em;
	margin: auto;
	font-size: 1.0em;
	border: none;
	text-align: center;
	border-radius: 0.25em;
	width: 6em;
}

#subButton:hover  {
  background-color: rgb(43, 87, 182);
}

#notes {
	margin-top: 2em;
	font-size: 0.8em;
	width: 40em;
}

#numBars10, #as10, #mr10, #numBars15, #as15, #mr15, 
#numBars20, #as20, #mr20, #numBars25, #as25, #mr25, 
#numBars30, #as30, #mr30 {
	color:	rgb(43, 87, 182);
}

/*************************************************************************************
	Media queries
**************************************************************************************/

@media (min-width: 801px) {
  main {
    width: 70%;
  }
}

 @media (max-width: 800px) {
  body, main {
    width: auto;
  }
}

